body {
    margin: 0;
    background-color: black;
}

nav {
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    width: 100vw;
    z-index: 300;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

nav > a{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    color: #f2f2f2;
    text-align: center;
    padding: 1vh 1vw;
    text-decoration: none;
    width: 20vw;
}

nav > a:hover{
    background: #ddd;
    color: black;
}

.red-image {
    top: 4vh;
    height: 100vh;
    width: 100vw;
    background: url('images/ballonpop.png') no-repeat center;
    position: relative;
    background-size: cover;
}

.red-image h2 {
    text-align: center;
    position: absolute;
    font-size: 7vw;
    top: 30%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white;
}

.green-image {
    width: 100vw;
    height: 100vh;
    background: url('images/shadesOfGreen.png') no-repeat center;
    position: relative;
    background-size: cover;
}

.green-image h1 {
    margin:0;
    padding: 33vh 15vw;
    font-size: 3vw;
    text-align: center;
    color: black;
    font-weight: 300;
    text-shadow: .1vw .1vh white;
}


.yellow-image {
    width: 100vw;
    height: 100vh;
    background: url('images/shadesOfYellow.png') no-repeat center;
    position: relative;
    background-size: cover;
}

.yellow-image div{
    padding: .8vw;
    display:flex;
}

.yellow-image h1 {
    margin:0;
    font-size: 5vw;
    padding-top: 8vh;
    text-align: center;
    color: black;
    font-weight: 300;
    text-shadow: .1vw .1vh white;
}

.yellow-image ul{
    font-size: 3vw;
}

.yellow-image li{
    margin: 1vh;
}

.orange-image {
    width: 100vw;
    height: 100vh;
    background: url('images/shadesOfOrange.png') no-repeat center;
    position: relative;
    background-size: cover;
}

.orange-image .space-around{
    display: flex;
    flex-wrap: wrap;
}

.orange-image .space-around > a{
    color: black;
    text-decoration: none;
    flex: 1 0 50%;
    margin: 1vh 1vw;
    background-color: #dddddd;
}
.orange-image .space-around h3{
    padding: 0 1vw;
    margin:0;
    width: 90vw;
    font-size: 1.5vw;
}
.orange-image .space-around p{
    margin: 1vh 1vw;
    padding: 0 1vw;
    width: 90vw;
    font-size: 2vw;
    text-decoration: none;
}

.orange-image a:visited {color:black;}
.orange-image a:hover {color:black;}
.orange-image a:active {color:black;}

.orange-image h1{
    margin:0;
    font-size: 4vw;
    padding: 5vh;
    text-align: center;
    color: black;
    font-weight: 300;
    text-shadow: .1vw .1vh white;
}

.footer{
    padding: 1vw;
}

.footer > a{
    padding: 1.5vw;
    margin: .5vw .5vw;
    width: 5vw;
    font-size: 2vw;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: deeppink;
    color: white;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 100vh;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 0;
    padding: 1vw;
    color: white;
    font-weight: bold;
    font-size: 1vw;
    transition: 0.6s ease;
    border-radius: 0 1vh 1vw 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 3vw;
    padding: 2vh 3vw;
    position: absolute;
    bottom: 1vh;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 1vw;
    padding: 2vh 3vw;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 2vh;
    width: 1vw;
    margin: 0 1vw;
    background-color: #bbb;
    border-radius: 25vw;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.space-around {
    justify-content: space-around;
}